.topic-remove:hover {
  /* Styles for the li element when hovered */
  background-color: #f8d7da; /* Bootstrap alert-danger background color */
  border-color: #f5c6cb; /* Bootstrap alert-danger border color */
  color: #721c24; /* Bootstrap alert-danger text color */
}
